@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

$beige: #EAE7DC;
$grey: #8E8D8A;
$darkpink: #E85A4F;
$lightpink: #E98074;
$black: #000000;

$spacegrotesk: 'Space Grotesk',
sans-serif;

$main-heading: 3.75rem;
$heading: 2.5rem;
$text: 1.5rem;
$description: 1rem;

//$mobile: 30rem;
//$tablet: 48rem;
//$desktop: 64rem;