@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
.main {
  color: #8E8D8A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 48rem) {
  .main {
    display: block;
  }
}

.main__left-section {
  margin-left: 5rem;
  width: 40%;
  margin-top: 12rem;
}

@media only screen and (max-width: 30rem) {
  .main__left-section {
    width: 70%;
    margin-left: 3rem;
    margin-top: 8rem;
  }
}

.main__left-section h1 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 48rem) {
  .main__left-section h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 30rem) {
  .main__left-section h1 {
    font-size: 1.8rem;
  }
}

.main__left-section h1 span {
  font-size: 3.75rem;
  color: #E85A4F;
}

@media only screen and (max-width: 48rem) {
  .main__left-section h1 span {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 30rem) {
  .main__left-section h1 span {
    font-size: 2.5rem;
  }
}

.main__left-section__tab {
  border-bottom: 0.15rem solid #8E8D8A;
  padding: 0.5rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main__left-section__tab:first-child {
  border-top: 0.15rem solid #8E8D8A;
}

.main__left-section__tab .active img {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main__left-section__tab .closed img {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main__left-section__tab h2 {
  font-size: 2.5rem;
  color: #8E8D8A;
}

@media only screen and (max-width: 48rem) {
  .main__left-section__tab h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 30rem) {
  .main__left-section__tab h2 {
    font-size: 1.8rem;
  }
}

.main__left-section__tab__info-container {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
}

.main__left-section__tab__info-container p {
  font-size: 1.2rem;
  color: #000000;
  padding: 1rem 0;
}

.main__left-section__tab__info-container p span {
  text-decoration: underline;
}

.main__left-section__tab__info-container img {
  width: 100%;
}

.main__left-section__tab__info-container #graphicBtn {
  cursor: pointer;
}

.main__left-section__tab__info-container__slideshow-container {
  max-width: 95%;
  position: relative;
  margin: auto;
}

.main__left-section__tab__info-container__slideshow-container p {
  padding-bottom: 2rem;
}

.main__left-section__tab__info-container__slideshow-container .mySlides {
  display: none;
}

.main__left-section__tab__info-container__slideshow-container .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__left-section__tab__info-container__slideshow-container .prev, .main__left-section__tab__info-container__slideshow-container .next {
  cursor: pointer;
  bottom: 9rem;
  width: auto;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main__left-section__tab__info-container__slideshow-container .next {
  right: 0;
  z-index: 3;
}

.main__left-section__tab__info-container__slideshow-container .prev:hover svg path, .main__left-section__tab__info-container__slideshow-container .next:hover svg path {
  fill: #E85A4F;
}

.main__left-section__tab__info-container__slideshow-container .projectName {
  font-size: 1.2rem;
  color: #000000;
  padding: 1rem 0;
}

.main__left-section__tab__info-container__slideshow-container .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 30rem) {
  .main__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    margin-top: 4rem;
  }
}

.main__icons img {
  max-width: 3.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0.8rem 3rem 0;
}

@media only screen and (max-width: 30rem) {
  .main__icons img {
    padding: 0;
    width: 2.5rem;
  }
}

.main__right-section {
  width: 40%;
  margin-top: 4rem;
}

@media only screen and (max-width: 48rem) {
  .main__right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 30rem) {
  .main__right-section {
    width: 80%;
    right: -8rem;
    bottom: 0;
    margin-right: 4rem;
  }
}

.main__right-section #profileImgMobile, .main__right-section #profileImgTablet {
  display: none;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 48rem) {
  .main__right-section #profileImgTablet {
    display: block;
    width: 120%;
  }
}

@media only screen and (max-width: 30rem) {
  .main__right-section #profileImgTablet {
    display: none;
  }
}

@media only screen and (max-width: 30rem) {
  .main__right-section #profileImgMobile {
    display: block;
  }
}

.main__right-section__img-container {
  position: fixed;
  top: 0;
  padding-top: 4rem;
}

@media only screen and (max-width: 48rem) {
  .main__right-section__img-container {
    display: none;
  }
}

.main__right-section__img-container__circle {
  background-color: #E98074;
  margin-top: 4rem;
  height: 34.44rem;
  width: 34.44rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.main__right-section__img-container__circle img {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 27.25rem;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.main__right-section__img-container p {
  color: #E98074;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 48rem) {
  .main__right-section__img-container p {
    display: none;
  }
}

@media only screen and (max-width: 30rem) {
  .main__right-section__img-container p {
    display: none;
  }
}

.main__graphic-design {
  width: 100vw;
  cursor: pointer;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../img/GraphicDesignBackground.png);
  background-size: 100vw 100vh;
  z-index: 2;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 48rem) {
  .main__graphic-design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__graphic-design h1 {
  color: red;
  font-family: "Chilanka", cursive;
  margin-right: 10rem;
}

@media only screen and (max-width: 48rem) {
  .main__graphic-design h1 {
    margin: 4rem 0;
  }
}

@media only screen and (max-width: 30rem) {
  .main__graphic-design h1 {
    font-size: 1rem;
    margin: 4rem 0;
  }
}

@media only screen and (max-width: 30rem) {
  .main__graphic-design img {
    width: 60%;
  }
}

html,
body {
  background-color: #EAE7DC;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  font-family: "Space Grotesk", sans-serif;
  background-color: transparent;
  border-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  margin: 0;
}
/*# sourceMappingURL=global.css.map */